<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ua.pp.rozkladznu.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <compatible-screens>
        <!-- all small size screens -->
        <screen
            android:screenSize="small"
            android:screenDensity="ldpi" />
        <screen
            android:screenSize="small"
            android:screenDensity="mdpi" />
        <screen
            android:screenSize="small"
            android:screenDensity="hdpi" />
        <screen
            android:screenSize="small"
            android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen
            android:screenSize="normal"
            android:screenDensity="ldpi" />
        <screen
            android:screenSize="normal"
            android:screenDensity="mdpi" />
        <screen
            android:screenSize="normal"
            android:screenDensity="hdpi" />
        <screen
            android:screenSize="normal"
            android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
        android:name="ua.pp.rozkladznu.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name="ua.pp.rozkladznu.app.ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.pp.rozkladznu.app.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginScreen" />
        <activity
            android:name="ua.pp.rozkladznu.app.ui.ScheduleItemActivity"
            android:theme="@style/AppTheme.Purple" />
        <activity
            android:name="ua.pp.rozkladznu.app.ui.LecturerScheduleActivity"
            android:theme="@style/NoDrawerTheme" />
        <activity
            android:name="ua.pp.rozkladznu.app.ui.AboutActivity"
            android:theme="@style/AppTheme.White"
            android:parentActivityName="ua.pp.rozkladznu.app.ui.MainActivity"
            android:label="@string/about_app"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.pp.rozkladznu.app.ui.MainActivity" />
        </activity>

        <activity
            android:name="ua.pp.rozkladznu.app.ui.SettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/nav_drawer_item_settings"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.BlueGrey" />

        <provider
            android:name="ua.pp.rozkladznu.app.provider.ScheduleProvider"
            android:authorities="ua.pp.rozkladznu.app.provider.ScheduleProvider"
            android:exported="false"
            android:label="@string/schedule"
            android:syncable="true" />

        <service
            android:name="ua.pp.rozkladznu.app.account.GroupAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="ua.pp.rozkladznu.app.sync.ScheduleSyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <!-- Yandex Metrica -->
        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="true"
            android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.yandex.metrica.IMetricaService" />

                <data android:scheme="metrica" />
            </intent-filter>

            <meta-data
                android:name="metrica:api:level"
                android:value="16" />
        </service>

        <receiver
            android:name="com.yandex.metrica.MetricaEventHandler"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.yandex.metrica.intent.action.SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name="ua.pp.rozkladznu.app.provider.MetricaContentProvider"
            android:authorities="ua.pp.rozkladznu.app.MetricaContentProvider"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
