<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.zp.rozklad.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <provider
            android:name=".provider.ScheduleProvider"
            android:authorities="ua.zp.rozklad.app.provider"
            android:exported="false" />

        <service
            android:name=".service.ScheduleService"
            android:exported="false" />
    </application>

</manifest>
