<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.zp.rozklad.app">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="ua.zp.rozklad.app.provider"
            android:name=".provider.ScheduleProvider"
            android:exported="false" />
    </application>

</manifest>
